@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');

:root{
  --primary-font: 'Darker Grotesque',sans-serif;
  --secondary-font: 'Roboto',sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

*, body{
  box-sizing: border-box;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  background-color: #fff;
}

.container{
  position: relative;
  width: 100vw; 
  height: 100vh; 
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px; 
}

.container .top-border{
  border-top: 1px solid gainsboro;
  margin-top: 10px;
  width: 100%;
}

.container .right-border{
  margin-top: 10px;
  position: absolute;
  left: 63.5%; 
  height: 82%; 
  width: 1px;
  border-right: 2px solid gainsboro;
}

.container .header-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.container .website-title{
  color: #480002;
  font-family: var(--primary-font);
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 5px;
  width: fit-content;
}

.container .search-bar{ 
  border: 1px solid #480002; 
  width: 350px; 
  height: 40px;
  padding: 8px;
  border-radius: 8px;

  margin-top: 5px;
  font-family: var(--primary-font);
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2px;

}

.happening-now-container{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center; 
  justify-content: flex-start; 

  position: absolute;
  width: 32%;

  height: 88%;
  left: 65vw; 
  top: 14vh;

}

.happening-now-container .happening-now-title{
  width: 100%;
  display: block;
  padding-bottom: 10px;
  border-bottom: 1px solid gainsboro;

  color: dimgray;
  font-family: var(--primary-font);
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 2px; 
}

.happening-now-container .congress-container{
  margin-top: 10px;
  display: block;
  width: 100%; 
  height: 45%; 
  background-color: black;
}

.congress-container .congress-title{
  color: dimgray;
  font-family: var(--primary-font);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px; 
} 

.congressional-actions-container{
  position:relative;
  width:inherit; 
  height: 100%;
  /* background-color: blue; */
  overflow-y: scroll ;
}

.congressional-actions-container .action-card{
  margin-top: 5px;
  border: 1px solid gainsboro;
  
  border-radius: 6px;
  width: 98%; 
  height: 100px;
  z-index: 3;

  padding: 8px;
}

.congressional-actions-container .action-card:last-child{
  margin-bottom: 33px;
}

.action-card .action-title{

}
.action-card .action-description{
  
}
.action-card .action-date{
  
}
.action-card .action-time{
  
}

/* Main content with navigation bar */
.main-content-container{
  /* background-color: black; */

  position: absolute;
  height: 85%;
  margin-top: 5px;
  width: 60%;

}

.navigation-bar{
  position: absolute;

  /* background-color: #480002; */
  display: flex;
  flex-direction: row;
  align-items: center;

  width: fit-content;
  height: 50px;
  left: 0px;
}


.navigation-bar .tab{
  display: flex;
  align-items: center;
  justify-content: flex-start;
    
  /* border-right: 1px solid gainsboro; */

  width: 100px;
  height: fit-content;
  
  color: dimgray;
  font-family: var(--primary-font);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px; 
  
}
.navigation-bar .tab::after{
  content: "|";
  color: black;
  margin-left: 15px;
}

.navigation-bar .tab:hover{cursor: pointer;}
.navigation-bar .tab:last-child{border-right: none;}

.home-view-container{
  margin-top: 100px;
  width: 90%; 
  height: 100%; 
  line-height: 40px;
}

.home-view-container .home-description{
  color: dimgray;
  font-family: var(--primary-font);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px; 
}

.home-view-container .sign-up-notification{
  margin-top: 20px;

  color: black;
  font-family: var(--primary-font);
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px; 
}

.home-view-container label{
  margin-left: 10px;
  margin-right: 10px;

  color: dimgray;
  font-family: var(--primary-font);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px; 
  
}

.sign-up-container .checkbox-container{
  width: 240px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}


/* Votes container and content CSS */
.votes-view-container{
  margin-top: 100px;
  width: 90%; 
  height: 100%; 
  line-height: 40px;
}

/* Bills  container and content */
.bills-view-container{
  margin-top: 100px;
  width: 90%; 
  height: 100%; 
  line-height: 40px;
}


